#hero-image {
    background: linear-gradient(180deg, #FFF 0%, rgba(0, 0, 0, 0.17) 47.92%, #FFF 100%), url("images/hero.jpeg");
    background-size: cover;
    background-position: center;
}

#register-image {
    background: linear-gradient(180deg, #FFF 0%, rgba(0, 0, 0, 0.17) 47.92%, #FFF 100%), url("images/register.jpeg");
    background-size: cover;
    background-position: center;
}