@page
@model FileModel
@{
        ViewData["Title"] = "Berkas";
}

<h1 class="display-5 fw-bold mb-3">Berkas</h1>

<form class="card" method="post" enctype="multipart/form-data">
        <div class="card-header">
                <p class="fw-bold fs-3 m-0">Upload KTP</p>
        </div>
        <div class="card-body">
                <p>Silahkan upload KTP Anda dalam jpg, jpeg, atau png.</p>
                <input type="file" required asp-for="Upload" accept="image/png, image/jpeg, image/jpg" />
                <input type="text" required asp-for="FileType" value="ID_CARD" hidden />
        </div>
        <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
        </div>
</form>

<form class="card mt-3" method="post" enctype="multipart/form-data">
        <div class="card-header">
                <p class="fw-bold fs-3 m-0">Upload CV</p>
        </div>
        <div class="card-body">
                <p>Silahkan upload CV Anda dalam format doc, docx, atau pdf.</p>
                <input type="file" required asp-for="Upload" accept=".doc,.docs,.pdf" />
                <input type="text" required asp-for="FileType" value="CV" hidden />
        </div>
        <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
        </div>
</form>

<form class="card mt-3" method="post" enctype="multipart/form-data">
        <div class="card-header">
                <p class="fw-bold fs-3 m-0">Upload Video</p>
        </div>
        <div class="card-body">
                <p>Silahkan upload Video Anda</p>
                <input type="file" required asp-for="Upload" accept="video/*" />
                <input type="text" required asp-for="FileType" value="VIDEO" hidden />
        </div>
        <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
        </div>
</form>