@page
@model FileModel
@{
        ViewData["Title"] = "Berkas";
}

<h1 class="display-5 fw-bold mb-3">Berkas</h1>

<form asp-page-handler="ktp" class="card" method="post" enctype="multipart/form-data">
        <div class="card-header">
                <p class="fw-bold fs-3 m-0">Upload KTP</p>
        </div>
        <div class="card-body">
                <p>Silahkan upload KTP Anda dalam jpg, jpeg, atau png.</p>
                <p>Uploaded File:
                        @if (Model.DocumentKTP != null)
                        {
                                <span>@Model.DocumentKTP.Name</span>
                        }
                        else
                        {
                                <span>None</span>
                        }
                </p>
                <input type="file" asp-for="Upload" accept="image/png, image/jpeg, image/jpg" />
        </div>
        <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
        </div>
</form>

<form asp-page-handler="cv" class="card mt-3" method="post" enctype="multipart/form-data">
        <div class="card-header">
                <p class="fw-bold fs-3 m-0">Upload CV</p>
        </div>
        <div class="card-body">
                <p>Silahkan upload CV Anda dalam format doc, docx, atau pdf.</p>
                <p>Uploaded File:
                        @if (Model.DocumentCV != null)
                        {
                                <span>@Model.DocumentCV.Name</span>
                        }
                        else
                        {
                                <span>None</span>
                        }
                </p>
                <input type="file" asp-for="Upload" accept=".doc,.docs,.pdf" />
        </div>
        <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
        </div>
</form>

<form asp-page-handler="video" class="card mt-3" method="post" enctype="multipart/form-data">
        <div class="card-header">
                <p class="fw-bold fs-3 m-0">Upload Video</p>
        </div>
        <div class="card-body">
                <p>Silahkan upload Video Anda</p>
                <p>Uploaded File:
                        @if (Model.DocumentVideo != null)
                        {
                                <span>@Model.DocumentVideo.Name</span>
                        }
                        else
                        {
                                <span>None</span>
                        }
                </p>
                <input type="file" asp-for="Upload" accept="video/*" />
        </div>
        <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
        </div>
</form>