@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1 class="display-5 fw-bold mb-3">Welcome, Profile</span></h1>
<div id="body-content" class="bg-white d-flex align-items-center justify-content-center">
    <button type="button" class="btn btn-primary px-4 py-2">File Upload</button>
</div>